<form name="frmLogin" action="login.php" method="POST">
<p>
 <h3>Login to your account</h3>
 <span class="field"><input placeholder="Company/Organization Login" type="text" name="org_login" id="org_login" value="{$frm.org_login}"/></span>
</p>
<p>
 <span class="field"><input placeholder="Username" type="text" name="username" id="username" value="{$frm.username}"/></span>
</p>
<p>
 <span class="field"><input placeholder="Password" type="password" name="password" id="username" value=""/></span>
</p>
<input type="submit" value="Login"/>
</form>