{include file="header.tmpl" title="Login to your account"}
<link href="lib/skin/css/form.css" rel="stylesheet" type="text/css" />
{include file="form_messages.tmpl" error=$error}
{include file="login_form.tmpl" frm=$frm}
{include file="footer.tmpl"}