{include file="header.tmpl" title="Member Panel"}
Welcome {$smarty.session.user.username}. You are logged in. <a href="logout.php">Logout</a>
<ul>
<li><a href="project_add.php">Add Project</a></li>
<li><a href="team_add.php">Add Team Member</a></li>
</ul> 
{include file="footer.tmpl"}
