<body style="margin: 10px; border: 1px dashed silver;">
    <img align="left" src="lib/skin/images/bugkiller.png"/>
    Welcome to <b>Clearbugs</b><br>
    To complete your registration, please go to the link below<br>
    <a href="{$verify_link}">{$verify_link}</a><br>
    This link will expire in 24 hours. <br>
    Thank you, <br>
    <b>ClearBugs</b> <br>
</body>