{include file="header.tmpl" title="Register"}
<script src="lib/skin/js/jquery.placeholder.js"></script>
<script src="lib/skin/js/register.js"></script>
<link href="lib/skin/css/register.css" rel="stylesheet" type="text/css" />
{{if $registration_complete}}
Thank you for registering.
Please check your email to verify your new account.
{{else}}
<form name="frmRegister" method="POST">


{{if !empty($error)}}
<div class="error">
Error: {$error.message}
<script>
$( function() { 
    $('input[name={$error.form_field}]').addClass('error');
} );
</script>
</div>
{{/if}}

<div id="planboxes">
{{foreach $plans as $plan}}
<div class="planbox">
<h3{{if $plan.shortname == 'proteam'}} class="featured"{{/if}}>{$plan.name}</h3>
<p>
{{if $plan.shortname == 'free'}}
<span class="plan_cost">free</span>
{{else}}
<span class="currency">$</span><span class="plan_cost">{$plan.cost}</span><span class="slash">/</span><span class="plan_cycle">{if $plan.charge_cycle == 'yearly'}year{/if}</span>
{{/if}}
<br class="clear">
</p>
<ul>
<li class="plan_max_users">
Max Users
<strong>{$plan.max_users}</strong>
</li>
<li class="plan_max_projects">
Max Projects
<strong>{$plan.max_projects}</strong>
</li>
<li class="plan_allow_email_submissions">
Email Bug Submissions
<strong>{{if $plan.allow_email_bug_submissions}}Yes{{else}}No{{/if}}</strong>
</li>
<li class="plan_allow_file_attachments">
File Attachments
<strong>{{if $plan.allow_file_attachments}}Yes{{else}}No{{/if}}</strong>
</li>
<li>
   Choose <b>{$plan.name}</b><br>
   {{if $plan.shortname != 'free'}}<span class="freefor30">Free for 30 days</span>{{/if}}<br>
   <input class="regular-radio big-radio" type="radio" name="plan" id="plan-{$plan.shortname}" value="{$plan.shortname}" {{if isset($smarty.post.plan) && $smarty.post.plan == $plan.shortname}}checked=checked{{/if}}/>
   <label for="plan-{$plan.shortname}"></label>
</li>
</div>
{{/foreach}}
</div>
<br style="clear: both"/><br>
  <p>
    <span class="field"><input placeholder="Your full name" type="text" name="name" id="name" value="{$smarty.post.name|default:''}"/></span>
  </p>
  <p>
    <span class="field"><input placeholder="Company or Organization" type="text" name="org_name" id="org_name" value="{$smarty.post.org_name|default:''}"/></span>
  </p>
  <p>
    <span class="field"><input placeholder="Email" type="text" name="email" id="email" value="{$smarty.post.email|default:''}"/></span>
  </p>
  <p>
    <span class="field"><input placeholder="Password" type="password" name="password" id="password"/></span>
  </p>


<input type="submit" value="Register"/>
</form>
{{/if}}
{include file="footer.tmpl"}
